<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Insert title here</title>
</head>
<body>
<input type="text" id="inp" />
<div id="box"></div>
<button id="but"></button>
<script>
  function Animal(name,age) {
    this.name = name
    this.age = age
  }

  let pig = new Animal('peiqi',3)
  console.log(pig)
  // let obj = {};
  // let oInp = document.getElementById('inp');
  // let oBox = document.getElementById('box');
  // let but =document.getElementById('but')
  // Object.defineProperty(obj, 'name', {
  //   configurable: true,
  //   enumerable: true,
  //   get: function() {
  //     console.log(111)
  //     return val;
  //   },
  //   set: function(newVal) {
  //     console.log(123)
  //     oInp.value = newVal;
  //     oBox.innerHTML = newVal;
  //   }
  // });
  // oInp.addEventListener('input', function(e) {
  //   obj.name = e.target.value;
  // });
  //   obj.name = '苏日俪格';
  // but.addEventListener('click',function () {
  //   obj.name = '111';
  // })
</script>
</body>
</html>
